.cover__link {
    position: relative;
    background-size: cover;
    background-color: rgba(42, 44, 47, 0.3);
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.cover__link:hover {
    background-color: rgba(42, 44, 47, 0.8);
}