.cover__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    padding-left: 32%;
    padding-right: 32%;
    padding-top: 0;
    height: 9%;
}

@media screen and (max-width: 1279.98px) {
    .cover__subtitle {
        height: 10%;
    }
}

@media screen and (max-width: 1023.98px) {
    .cover__subtitle {
        padding-left: 26%;
        padding-right: 26%;
        height: 14%;
    }
}

@media screen and (max-width: 767.98px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        height: 24%;
    }
}

@media screen and (max-width: 425px) {
    .cover__subtitle {
        padding-left: 5%;
        padding-right: 5%;
    }
}