.cover__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    justify-content: center;
    justify-self: center;
    color: #FFFFFF;
    margin: 0;
    padding-left: 32%;
    padding-right: 32%;
    padding-top: 0;
}

@media screen and (max-width: 1023.98px) {
    .cover__subtitle {
        padding-left: 26%;
        padding-right: 26%;
    }
}

@media screen and (max-width: 767.98px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
    }
}

@media screen and (max-width: 425px) {
    .cover__subtitle {
        padding-left: 5%;
        padding-right: 5%;
    }
}