.place__paragraph {
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
    margin: 0;
    padding-left: 40px;
    padding-bottom: 26px;
    min-width: 38vw;
}

.place__paragraph:last-child {
    padding-bottom: 0px;
}

@media screen and (max-width: 1279.98px) {
    .place__paragraph {
        padding-left: 32px;
        min-width: 45vw;
    }
}

@media screen and (max-width: 1023.98px) {
    .place__paragraph {
        padding-left: 28px;
        font-size: 16px;
    }
}

@media screen and (max-width: 767.98px) {
    .place__paragraph {
        min-width: 90%;
        padding-left: 5%;
        padding-right: 5%;
    }
}