.intro__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    color: #FFFFFF;
    margin: 0;
    padding-right: 432px;
    padding-bottom: 33px;
    max-width: 690px;
}

@media screen and (min-width: 767.98px) and (max-width: 1023.98px) {
    .intro__text {
        max-width: 720px;
    }
}

@media screen and (min-width: 319.98px) and (max-width: 767.98px) {
    .intro__text {
        max-width: 288px;
        font-weight: 700;
        font-size: 12px;
        line-height: 18px;
        padding-right: 16px;
    }
}