.intro {
    display: flex;
    flex-direction: column;
    padding-top: 92px;
    padding-left: calc((100% - 984px)/2);
}

@media screen and (max-width: 1279.98px) {
    .intro {
        padding-left: calc((100% - 928px)/2);
    }
}

@media screen and (max-width: 1023.98px) {
    .intro {
        padding-left: calc((100% - 720px)/2);
        padding-top: 88px;
    }
}

@media screen and (max-width: 767.98px) {
    .intro {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 64px;
    }
}