.cover {
    display: flex;
    position: relative;
    background-image: url(../../images/cover-trains.jpg);
    margin-left: 4%;
    margin-right: 4%;
    background-position: center center;
    background-size: cover;
}
@media screen and (min-width: 319.98px) and (max-width: 1279.98px) {
    .cover {
        margin: 0;
        width: 100%;
    }
}