.lead__caption {
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    color: #FFFFFF;
    padding-left: calc((100vw - 984px)/2);
    margin: 0;
    max-width: 158px;
    align-self: flex-start;
    text-transform: uppercase;
}

@media screen and (max-width: 1279.98px) {
    .lead__caption {
        padding-left: calc((100vw - 928px)/2);
    }
}

@media screen and (max-width: 1023.98px) {
    .lead__caption {
        padding-left: calc((100vw - 720px)/2);
    }
}

@media screen and (max-width: 767.98px) {
    .lead__caption {
        padding-left: 5%;
    }
}