.place__website {
    color: #FFFFFF;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 48px;
    text-decoration: none;
}

@media screen and (max-width: 1279.98px) {
    .place__website {
        padding-left: 32px;
    }
}

@media screen and (max-width: 1023.98px) {
    .place__website {
        padding-left: 28px;
    }
}

@media screen and (max-width: 767.98px) {
    .place__website {
        padding-bottom: 32px;
        padding-left: 5%;
        padding-right: 5%;
    }
}